<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>underscore demo</title>
</head>
<body>
<script type="text/template" id="tpl">
  <% if(movies.length > 0) {%>
    <% _.each(movies, function (item) { %>
    <div>
      <%= item.title %> - <%= item.url %> - <%= item.film %>
    </div>
    <% }); %>
  <% } else { %>
    <div style="color: #900">无数据</div>
  <% } %>
</script>
<script src="jquery.min.js"></script>
<script src="underscore.js"></script>
<script type="text/javascript">
  var movies = [
    {
      title: '标题1',
      url: 'http://www.google.com',
      film: '电影名称1'
    },
    {
      title: '标题2',
      url: 'http://www.baidu.com',
      film: '电影名称2'
    },
    {
      title: '标题3',
      url: 'http://www.soso.com',
      film: '电影名称3'
    },
    {
      title: '标题4',
      url: 'http://www.huawei.com',
      film: '电影名称4'
    },
    {
      title: '标题5',
      url: 'http://www.apple.com',
      film: '电影名称5'
    }
  ];

  $('body').html( _.template($('#tpl').html(), movies) );
</script>
</body>
</html>